<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">

<head>
	<title layout:fragment="title">Novo Cliente</title>
</head>

<body>
	<div layout:fragment="content">

		<th:block th:replace="~{fragments/ui :: pageHeader('Cadastros', 'Novo Cliente')}"></th:block>

		<div class="card">
			<div class="card-body">
				<form method="post" th:action="@{/cadastrarCliente}" th:object="${cliente}">
					<div class="mb-3">
						<label class="form-label required">Nome</label>
						<input type="text" class="form-control" th:field="*{nome}" required>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label class="form-label required">CPF</label>
							<input type="text" class="form-control" th:field="*{cpf}"
								placeholder="000.000.000-00" required>
						</div>
						<div class="col-md-6 mb-3">
							<label class="form-label">Telefone</label>
							<input type="text" class="form-control" th:field="*{telefone}"
								placeholder="(99) 99999-9999">
						</div>
					</div>
					<div class="text-end">
						<a th:href="@{/clientes}" class="btn btn-link">Cancelar</a>
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</body>

</html>
