<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">

<head>
	<title layout:fragment="title">Editar Produto</title>
</head>

<body>
	<div layout:fragment="content">

		<th:block th:replace="~{fragments/ui :: pageHeader('Cadastros', 'Editar Produto')}"></th:block>

		<div class="card">
			<div class="card-body">
				<form method="post" th:action="@{/editar-produto}" th:object="${produto}">
					<input type="hidden" th:field="*{id}">
					<div class="mb-3">
						<label class="form-label required">Nome</label>
						<input type="text" class="form-control" th:field="*{nome}" required>
					</div>
					<div class="mb-3">
						<label class="form-label required">Valor</label>
						<input type="number" step="0.01" min="0" class="form-control"
							th:field="*{valor}" required>
					</div>
					<div class="text-end">
						<a th:href="@{/produtos}" class="btn btn-link">Cancelar</a>
						<button type="submit" class="btn btn-primary">Atualizar</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</body>

</html>
